[submodule "extension/myxt_global"]
	path = extension/myxt_global
	url = git@github.com:myxt/myxt_global.git
[submodule "extension/ezfind"]
	path = extension/ezfind
	url = git@github.com:myxt/ezfind.git
[submodule "extension/ngconnect"]
	path = extension/ngconnect
	url = git@github.com:myxt/ngconnect.git
[submodule "extension/ezie"]
	path = extension/ezie
	url = git@github.com:myxt/ezie.git
[submodule "extension/ezteamroom"]
	path = extension/ezteamroom
	url = git@github.com:myxt/ezteamroom.git
[submodule "extension/ezsurvey"]
	path = extension/ezsurvey
	url = git@github.com:myxt/ezsurvey.git
[submodule "extension/eztags"]
	path = extension/eztags
	url = git@github.com:myxt/eztags.git
[submodule "extension/ezwt_package"]
	path = extension/ezwt_package
	url = git@github.com:myxt/ezwt.git
[submodule "extension/ezmultiupload"]
	path = extension/ezmultiupload
	url = git@github.com:myxt/ezmultiupload.git
[submodule "extension/ezwebin_package"]
	path = extension/ezwebin_package
	url = git@github.com:myxt/ezwebin.git
[submodule "extension/ezflow_package"]
	path = extension/ezflow_package
	url = git@github.com:myxt/ezflow.git
[submodule "extension/ezgmaplocation_package"]
	path = extension/ezgmaplocation_package
	url = git@github.com:myxt/ezgmaplocation.git
[submodule "extension/ezstarrating_package"]
	path = extension/ezstarrating_package
	url = git@github.com:myxt/ezstarrating.git
[submodule "extension/myxt_healthcare"]
        path = extension/myxt_healthcare
        url = git@github.com:myxt/myxt_healthcare.git
[submodule "extension/myxt_digest"]
	path = extension/myxt_digest
	url = git@github.com:myxt/myxt_digest.git
[submodule "extension/cjw_newsletter"]
	path = extension/cjw_newsletter
	url = git@github.com:myxt/cjw_newsletter.git
[submodule "extension/ezcomments"]
	path = extension/ezcomments
	url = git@github.com:myxt/ezcomments.git
[submodule "extension/ezodf"]
	path = extension/ezodf
	url = git@github.com:myxt/ezodf.git
[submodule "extension/myxt_publisher"]
	path = extension/myxt_publisher
	url = git@github.com:myxt/myxt_publisher.git
[submodule "extension/ezprestapiprovider"]
	path = extension/ezprestapiprovider
	url = git@github.com:myxt/ezprestapiprovider.git
[submodule "extension/myxt_development"]
	path = extension/myxt_development
	url = git@github.com:myxt/myxt_development.git
[submodule "extension/eztika"]
	path = extension/eztika
	url = git@github.com:myxt/eztika.git
[submodule "extension/ezchangeclass"]
	path = extension/ezchangeclass
	url = git@github.com:myxt/ezchangeclass.git
[submodule "extension/recaptcha"]
	path = extension/recaptcha
	url = git@github.com:myxt/ezpublish-recaptcha.git
[submodule "extension/enhancedezbinaryfile"]
	path = extension/enhancedezbinaryfile
	url = git@github.com:myxt/enhancedezbinaryfile.git
[submodule "extension/ngpush"]
	path = extension/ngpush
	url = git@github.com:myxt/ngpush.git
[submodule "extension/ezmbpaex"]
	path = extension/ezmbpaex
	url = git@github.com:myxt/ezmbpaex.git
[submodule "extension/myxt_recruitment"]
	path = extension/myxt_recruitment
	url = git@github.com:myxt/myxt_recruitment.git
[submodule "extension/ezevent"]
	path = extension/ezevent
	url = git@github.com:myxt/ezevent.git
[submodule "extension/nxc_social_networks"]
	path = extension/nxc_social_networks
	url = https://github.com/myxt/nxc_social_networks.git

[submodule "extension/data_import"]
	path = extension/data_import
	url = git@github.com:myxt/data_import.git
[submodule "extension/myxt_geomap"]
	path = extension/myxt_geomap
	url = git@github.com:myxt/myxt_geomap.git
