extension/
settings/override/
lib/ezc/
var/
*.DS_Store
*.php~
.project
.idea/
nbproject/
bin/linux/ezlupdate
bin/win32
support/ezlupdate-qt4.5/ezlupdate/Makefile
support/ezlupdate-qt4.5/ezlupdate/moc
support/ezlupdate-qt4.5/ezlupdate/obj

